# Dependencies
node_modules/

# Env files
.env*.local
.env

# Turbo
.turbo/

# Vercel
.vercel/

# Misc
.DS_Store

# Outputs
.next/

# Content Collections
.content-collections

# Fumadocs
.source

# Testing
playwright-report/
test-results/
coverage/
apps/web/src/tests/e2e/.auth/

# TypeScript
*.tsbuildinfo
next-env.d.ts
